.productos {
  padding: 3rem;
  max-width: 1200px; /* limita el ancho total */
  margin: 0 auto; /* centra el contenedor */
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 1.5rem;
  justify-content: center; /* centra las columnas dentro del grid */
}

.card-producto.stagger {
  animation: slideUpFade 1s ease forwards;
}

.productos h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #77d4ff;
}

.productos {
  padding: 3rem;
  max-width: 1200px; /* limita el ancho total */
  margin: 0 auto; /* centra el contenedor */
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 1.5rem;
  justify-content: center; /* centra las columnas dentro del grid */
}


.card-producto {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.imagen-producto {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.precio {
  font-weight: bold;
  color:rgb(53, 51, 51);
  margin: 0.5rem 0;
}

.btn-agregar {
  background-color: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-agregar:hover {
  background-color: #1e40af;
}
